.section {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 50px;
  
  @media (max-width: 940px) {
    margin-top: 120px;
  }
  
  
  h2 {
    font-family: $fuenteCuerpo;
    text-transform: uppercase;
    font-size: 1.5em;
    color: $colorTarjetas;
    padding: 10px;
    margin-top: 15px;
  }

  h1 {
    font-family: $fuenteCuerpo;
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.527);
    font-size: 1.8em;
    text-transform: uppercase;
  }
  
  .encabezado{
    background-color: $colorTarjetas;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
  }

  &__contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    padding: 7px 15px;
    height: 70px;
    margin: 5px;

    background-color: $colorTarjetas;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);

    h2 {
      font-family: $fuenteCuerpo;
      text-transform: none;
      font-size: 0.9em;
      color: black;
      margin: 0;
    }
 
    #precio {
      font-size: 1.1em;
      font-family: $fuenteCuerpo;
      padding-left: 5px;
      color: black;
      font-weight: bold;
    }

    &__comida {
      display: flex;
      flex-direction: column;
      padding-right: 5px;
    }
  }
}

.flechas{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 15px 0;

  &--izquierda{
    @extend .estiloFlechas;
  }

  &--derecha{
    @extend .estiloFlechas;
  }

  i{
    align-self: center;
    color:black;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.205);
  }

  #nroPagina{
    display: flex;  
    justify-content: center;
    text-align: center;
    font-family: $fuenteCuerpo;
    color:white;
    font-weight: bold;
    font-size: 0.8em;
    align-items:center;
    margin:0;
    padding: 0;
  }
}

.estiloFlechas{
  display: flex;  
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
  background-color: $colorTarjetas;
}

.estiloFlechas:hover{
  background-color: $colorHoverTarjetas;
}