.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;
  margin-top: 100px;

  h1 {
    font-family: $fuenteTitulos;
    color: white;
    text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.527);
    font-size: 2.7em;
    margin-bottom: 15px;
  }

  &__contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    padding: 7px 15px;
    height: 70px;
    margin: 5px;

    border-radius: 5px;
    background-color: $colorTarjetas;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);

    h2 {
      font-family: $fuenteCuerpo;
      text-transform: uppercase;
      font-size: 0.9em;
    }

    p {
      font-family: $fuenteCuerpo;
      color: rgb(73, 73, 73);
      font-size: 0.8em;
    }

    #precio {
      font-size: 1.1em;
      padding-left: 5px;
      color: black;
      font-weight: bold;
    }

    &__comida {
      display: flex;
      flex-direction: column;
      padding-right: 5px;
    }
  }
}

.flechas{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 15px 0;

  &--izquierda{
    @extend .estiloFlechas;
  }

  &--derecha{
    @extend .estiloFlechas;
  }

  i{
    align-self: center;
    color:black;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.205);
  }
}

.estiloFlechas{
  display: flex;  
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
  background-color: $colorTarjetas;
}

.estiloFlechas:hover{
  background-color: $colorHoverTarjetas;
}