.buttonContacto{
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right:20px;
    background-color: #3864c5;
    height: 60px;
    width: 60px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
    border-radius: 50%;

    i{
        align-self: center;
        padding: 0;
        color:white;
        margin: 0;
    }
}