.custom-shape-divider-bottom-1634131136 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -10000;

    svg {
        position: relative;
        display: block;
        width: calc(145% + 1.3px);
        height: 172px;
    }
    .shape-fill {
        fill: $colorFondoCurva;
    }
}
