footer{
    background-color: $colorTarjetas;
    padding: 30px;
    margin-top: 40px;
    font-family: $fuenteCuerpo;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bolder;
    box-shadow: -1px -1px 10px 4px rgba(0,0,0,0.33);

    
    
    
    p{
        text-align: center;
    }
}