$fuenteCuerpo:'Varela Round', sans-serif;
$fuenteTitulos:'Parisienne', cursive;

$colorTarjetas:beige;


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    margin-top: 50px;
    // background-color: #b5936f;
    background-image: url("../media/fondo.png");

    a{
        text-decoration: none;
        color: black;
    }
}
