$fuenteCuerpo: "Varela Round", sans-serif;
$fuenteTitulos: "Parisienne", cursive;

$colorTarjetas:#f4e9f0; 
$colorFooter:#999999; 
$colorFooterEnlace:#222222; 
$colorFondo: #7e2c56;
$colorHoverMenu: #ad5181 ;
$colorHoverTarjetas: #d8bdcf ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $colorFondo;
  a {
    text-decoration: none;
    color: black;
  }
}