.horarios {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 40px 0px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
  background-color: $colorFondo;
  
  h1,
  p {
      color: white;
    font-family: $fuenteCuerpo;
  }

  h1 {
    margin-right: 25px;
    font-size: 2.3em;
}

.linea {
    margin-right: 60px;
    width: 2px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 940px) {
    margin-top: 120px;
}

h1{
    margin-right: 23px;
      font-size: 2em;
  }

  p{
      font-size: 13px;
  }

  .linea{
      margin-right: 50px;
  }
}
