.cuerpo {
  &__menu {
    &__items {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      min-height: 100vh;
      cursor: pointer;

      &--entradas {
        @extend .estiloOpcionesMenu;
      }
      &--carnes {
        @extend .estiloOpcionesMenu;
      }
      &--pizzas {
        @extend .estiloOpcionesMenu;
      }
      &--sanguches {
        @extend .estiloOpcionesMenu;
      }
      &--guarniciones {
        @extend .estiloOpcionesMenu;
      }
      &--bebidas {
        @extend .estiloOpcionesMenu;
      }
      &--pastas {
        @extend .estiloOpcionesMenu;
      }
      &--postres {
        @extend .estiloOpcionesMenu;
      }
    }
  }
}

.estiloOpcionesMenu {
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;

  font-family: $fuenteCuerpo;
  text-transform: uppercase;

  margin: 10px 0;
  padding: 10px;
  width: 90vw;
  height: 40vh;
  border-radius: 5px;

  background-color: $colorTarjetas;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);

  img {
    height: 80px;
    margin: 15px;
  }
}

.estiloOpcionesMenu:hover {
  transition: 0.2s ease-in-out;
  background-color: $colorHoverTarjetas;
}
