* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #7e2c56;
}

body a {
  text-decoration: none;
  color: black;
}

.cuerpo__menu__items {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  cursor: pointer;
}

.estiloOpcionesMenu, .cuerpo__menu__items--entradas, .cuerpo__menu__items--carnes, .cuerpo__menu__items--pizzas, .cuerpo__menu__items--sanguches, .cuerpo__menu__items--guarniciones, .cuerpo__menu__items--bebidas, .cuerpo__menu__items--pastas, .cuerpo__menu__items--postres {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  margin: 10px 0;
  padding: 10px;
  width: 90vw;
  height: 40vh;
  border-radius: 5px;
  background-color: #f4e9f0;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
}

.estiloOpcionesMenu img, .cuerpo__menu__items--entradas img, .cuerpo__menu__items--carnes img, .cuerpo__menu__items--pizzas img, .cuerpo__menu__items--sanguches img, .cuerpo__menu__items--guarniciones img, .cuerpo__menu__items--bebidas img, .cuerpo__menu__items--pastas img, .cuerpo__menu__items--postres img {
  height: 80px;
  margin: 15px;
}

.estiloOpcionesMenu:hover, .cuerpo__menu__items--entradas:hover, .cuerpo__menu__items--carnes:hover, .cuerpo__menu__items--pizzas:hover, .cuerpo__menu__items--sanguches:hover, .cuerpo__menu__items--guarniciones:hover, .cuerpo__menu__items--bebidas:hover, .cuerpo__menu__items--pastas:hover, .cuerpo__menu__items--postres:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #d8bdcf;
}

@media (min-width: 1025px) {
  .estiloOpcionesMenu, .cuerpo__menu__items--entradas, .cuerpo__menu__items--carnes, .cuerpo__menu__items--pizzas, .cuerpo__menu__items--sanguches, .cuerpo__menu__items--guarniciones, .cuerpo__menu__items--bebidas, .cuerpo__menu__items--pastas, .cuerpo__menu__items--postres {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 40vw;
    margin: 10px;
  }
  .estiloOpcionesMenu img, .cuerpo__menu__items--entradas img, .cuerpo__menu__items--carnes img, .cuerpo__menu__items--pizzas img, .cuerpo__menu__items--sanguches img, .cuerpo__menu__items--guarniciones img, .cuerpo__menu__items--bebidas img, .cuerpo__menu__items--pastas img, .cuerpo__menu__items--postres img {
    margin: 0px 30px;
  }
  .cuerpo__menu__items--pizzas img {
    -webkit-transform: scale(-1);
            transform: scale(-1);
  }
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 0 20px;
  margin-top: 50px;
}

@media (max-width: 940px) {
  .section {
    margin-top: 120px;
  }
}

.section h1 {
  font-family: "Varela Round", sans-serif;
  text-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.527);
  font-size: 1.8em;
  text-transform: uppercase;
}

.section .encabezado {
  background-color: #f4e9f0;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
}

.section__contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 15px;
  height: 70px;
  margin: 5px;
  background-color: #f4e9f0;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
}

.section__contenido h2 {
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  font-size: 0.9em;
}

.section__contenido p {
  font-family: "Varela Round", sans-serif;
  color: #494949;
  font-size: 0.8em;
}

.section__contenido #precio {
  font-size: 1.1em;
  padding-left: 5px;
  color: black;
  font-weight: bold;
}

.section__contenido__comida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 5px;
}

.flechas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  padding: 15px 0;
}

.flechas i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: black;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.205);
}

.estiloFlechas, .flechas--izquierda, .flechas--derecha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
  background-color: #f4e9f0;
}

.estiloFlechas:hover, .flechas--izquierda:hover, .flechas--derecha:hover {
  background-color: #d8bdcf;
}

nav {
  height: 80px;
  background: #f4e9f0;
  -webkit-box-shadow: 2px 1px 1px 1px rgba(41, 41, 41, 0.185);
          box-shadow: 2px 1px 1px 1px rgba(41, 41, 41, 0.185);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px 0 25px;
  font-family: "Varela Round", sans-serif;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 8px 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #ad5181;
}

nav .botonMenu i {
  font-size: 28px;
  cursor: pointer;
  margin-right: 40px;
  display: none;
}

nav #checkMenu {
  display: none;
}

nav .logo img {
  width: 50px;
}

@media (max-width: 940px) {
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
  nav ul {
    background: #f4e9f0;
    position: fixed;
    top: 80px;
    left: -100%;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  nav ul li {
    margin: 30px 0;
  }
  nav ul li a {
    font-size: 16px;
    display: block;
  }
  nav ul li a:hover {
    color: #ad5181;
    background: none;
  }
  nav .botonMenu i {
    display: block;
  }
  nav #checkMenu:checked ~ ul {
    left: -0%;
  }
}

.cuerpo__menu__recomendacion {
  font-family: "Varela Round", sans-serif;
  background-image: url("../media/recomendacion.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: 60px 20px;
  text-align: center;
}

.cuerpo__menu__recomendacion__h3 {
  font-size: 2.2em;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.205);
  margin-bottom: 15px;
}

.cuerpo__menu__recomendacion__parrafo {
  color: white;
  font-size: 1.4em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.205);
}

@media (max-width: 940px) {
  .cuerpo__menu__recomendacion__h3 {
    font-size: 1.6em;
  }
  .cuerpo__menu__recomendacion__parrafo {
    font-size: 1.2em;
  }
}

.fondo {
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
}

footer {
  margin-top: 40px;
  background: #d8bdcf;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  -webkit-box-shadow: -1px -1px 10px 4px rgba(0, 0, 0, 0.33);
          box-shadow: -1px -1px 10px 4px rgba(0, 0, 0, 0.33);
  font-weight: bolder;
  text-transform: uppercase;
}

footer .footer1 {
  padding: 30px 10px;
}

footer .footer1 p {
  text-transform: none;
  font-size: 0.8em;
}

footer .footer1 p a {
  text-decoration: underline;
  font-style: italic;
  color: #222222;
}

footer .footer1 i {
  font-size: 2.5em;
  margin-bottom: 25px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

footer .footer1 i:nth-child(1) {
  margin-right: 20px;
}

footer .footer1 i:nth-child(1):hover {
  color: #3b5998;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

footer .footer1 i:nth-child(2):hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background: -webkit-linear-gradient(#F77737, #961b5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

footer .copyright {
  font-size: 0.7em;
  background: #999999;
  padding: 10px;
}

.buttonContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: #3864c5;
  height: 60px;
  width: 60px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
  border-radius: 50%;
}

.buttonContacto i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0;
  color: white;
  margin: 0;
}

.horarios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  margin: 40px 0px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.219);
  background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
  background-color: #7e2c56;
}

.horarios h1,
.horarios p {
  color: white;
  font-family: "Varela Round", sans-serif;
}

.horarios h1 {
  margin-right: 25px;
  font-size: 2.3em;
}

.horarios .linea {
  margin-right: 60px;
  width: 2px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 940px) {
  .horarios {
    margin-top: 120px;
  }
}

.horarios h1 {
  margin-right: 23px;
  font-size: 2em;
}

.horarios p {
  font-size: 13px;
}

.horarios .linea {
  margin-right: 50px;
}
/*# sourceMappingURL=main.css.map */